<script>
$(document).ready(function() {
  var slider = $(".carousel-inner") 
  .carousel({ interval: 5000 }) 
  .bind('slid', function() { 
      var index = $(this).find(".active").index(); 
      $(this).find("a").removeClass('pager-active').eq(index).addClass('pager-active'); 
  }); 

    $(".slider-pager a").click(function(e){ 
      var index = $(this).index(); 
      slider.carousel(index); 
      e.preventDefault(); 
    }); 
});
</script>
<style>
.item {
height: 500px;
}
a.carousel-control {
display: block;
}
.slider-pager        {    margin-top: 10px; }
    .slider-pager a    {    display: block; height: 10px; width: 10px; float: left; margin-right: 10px; border-radius: 50%; background: #41af96; font-size: 1px; color: #fff; text-indent: -9999px; }
    .slider-pager a.pager-active { background: #2c8571; }
</style>
<div class="container">
    <!-- Macbook carousel -->
    <div id="carousel" class="carousel slide macbook" rel="carousel" style=" background: rgb(61, 108, 190);">
        
        <!-- Carousel items -->
        <div class="carousel-inner">
            <!-- Item -->
            <div class="item active">
                <img  src="http://wbpreview.com/previews/WB0082KT2/themes/images/carousel/1.png" alt="special offers">
            </div>
            <!-- end Item -->
            <!-- Item -->
              <div class="item">
			<img  src="http://wbpreview.com/previews/WB0082KT2/themes/images/carousel/2.png" alt="">
		  </div>
		  <div class="item">
			<img src="http://wbpreview.com/previews/WB0082KT2/themes/images/carousel/3.png" alt="">
		  </div>
		   <div class="item">
			<img src="http://wbpreview.com/previews/WB0082KT2/themes/images/carousel/4.png" alt="">
		  </div>
		   <div class="item active left">
			<img src="http://wbpreview.com/previews/WB0082KT2/themes/images/carousel/5.png" alt="">
		  </div>
            <!-- end Item -->
        </div>

        <!-- Carousel navigation -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"></a>
    </div>
    <!-- end Macbook carousel -->
    
    <!-- Carousel nav -->

</div>

<div class = "row">
<%# content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
<%#= render :partial => 'spree/shared/taxonomies' %>
    </div>
<%# end %>

    <div data-hook="homepage_products">
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
    </div>
  </div>
</div>
    

