<header id="header" class="row" data-hook>
  
 <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div style="width: auto;" class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="/" class="brand">Online Store</a>
        <div class="nav-collapse">
          <ul class="nav">
	    <li id="home-link" class="active" data-hook><%= link_to t(:home), root_path %></li>
          </ul>
          <ul class=" nav pull-right" >
           <li id="link-to-cart" data-hook><%= link_to_cart %></li>
            <li class="divider-vertical"></li>
	       <%= render :partial => 'spree/shared/nav_bar' %>
         </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
  <%#= render :partial => 'spree/shared/nav_bar' %>
  <%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
