<header id="header" class="row" data-hook>
 <div class="navbar">
    <div class="navbar-inner">
      <div style="width: auto;" class="container">
        <div class="nav-collapse">
          <ul class="nav">
	    
<% get_taxonomies.each do |taxonomy| %>
	<li id="home-link" class="active" data-hook><div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><%= t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
                </ul>
              </div></li>	
 <% end %>

	    
          </ul>
       </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
 </header>

