<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag products_path, :method => :get ,:class=>"well form-search" do %>
  <%= select_tag :taxon,
        options_for_select([[t(:all_departments), '']] +
                              @taxons.map {|t| [t.name, t.id]},
                            @taxon ? @taxon.id : params[:taxon]) %>
  <%= search_field_tag :keywords, params[:keywords], :placeholder => t(:search) , :class=>"input-medium search-query"%>
  <%#= submit_tag  t(:search) , :name => nil  , :class => "btn"%>
  <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
<% end %>
